:global(#root) {
  display: grid;
  grid-template-rows: max-content auto;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  --gap: 8rem;
  --header-margin: 3rem;
  margin: 0 var(--gap);
  margin-top: var(--header-margin);
  gap: var(--gap);
}

.headshot {
  max-height: calc(100vh - 58px - var(--header-margin));
}

.description {
  text-align: justify;
}
