.container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--column-count), min-content);
  --column-count: 4;
  margin: auto;
  width: min-content;
}

.name {
  text-align: center;
}

.galleryContainer .image {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.modal .body {
  display: flex;
  justify-content: center;
}

.slide .image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (max-width: 1600px) {
  .container {
    --column-count: 3;
  }
}

@media (max-width: 1300px) {
  .container {
    --column-count: 2;
  }
}

@media (max-width: 860px) {
  .container {
    --column-count: 1;
  }
}

@media (max-width: 400px) {
  .galleryContainer .image {
    width: 100vw;
    height: 75vw;
  }
}
