.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, min-content);
  margin: auto;
  width: min-content;
}

.name {
  text-align: center;
}

.galleryContainer .image {
  width: 300px;
}

.modal .body {
  display: flex;
  justify-content: center;
}
